---
import { Anchor } from "~/components/Anchor";
import { Text } from "~/components/Text";
import peaceImage from "~/assets/peace.teka.png";
import amaniImage from "~/assets/amani.png";
import HeroLayout from "../layouts/HeroLayout.astro";
---

<HeroLayout
	alt="Professional photo of Brian Peace Teka"
	description="Available for collaboration, consulting, and coffee chats"
	images={{ dark: amaniImage, light: peaceImage }}
	primary="Let's Connect"
	title="Let's Connect"
>
	<Fragment slot="secondary">
		Available for collaboration, consulting, and coffee chats
	</Fragment>
	<div class="text-center">
		<div class="max-w-2xl mx-auto">
			<Text as="p" fontSize="medium" fontWeight="light" class="mb-8">
				If you are in Nairobi, and want to go for a walk/ get a beer/ work on something ...
			</Text>
			<Text as="p" fontSize="medium" fontWeight="light" class="mb-8">
				<a href="mailto:dankatdennis@gmail.com" class="text-blue-500 hover:underline">dankatdennis@gmail.com</a>
			</Text>
			<Text as="p" fontSize="medium" fontWeight="light" class="mb-4">
				Alternatively, you can call me ... But not at weird hours... My Girlfriend's cat doesn't like that
			</Text>
			<Text as="p" fontSize="medium" fontWeight="light">
				<a href="tel:+254711305307" class="text-blue-500 hover:underline">+254 711 305 307</a>
			</Text>
		</div>
	</div>
</HeroLayout>
